<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>🎫 예약 관리 시스템</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css"
    />
  </head>
  <body>
    <section class="menu">
      <div class="container">
        <h1>🎫 예약 관리 시스템</h1>
        <div class="menu-list">
          <a th:href="@{/events}" class="cancel">이벤트 등록</a>
          <a th:href="@{'/events/reservations'}" class="cancel">예약 조회</a>
        </div>
      </div>
    </section>
  </body>
</html>
