<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>📄 예약 수정</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<header>
    <h1>✏️ 예약 수정</h1>
    <div class="header-menu">
        <p>
            <a href="/" class="back-btn">← 목록으로</a>
        </p>
        <p>
            <a></a>
        </p>
    </div>
</header>
<section class="form-container">
    <form
            th:action="@{'/reservations/' + ${reservationDto.id} + '/edit'}"
            th:object="${reservationDto}"
            method="post"
    >
        <div class="form-group">
            <label>
                예약자 이름:
                <input type="text" th:field="*{attendeeName}" />
            </label>
            <div class="error" th:if="${#fields.hasErrors('attendeeName')}" th:errors="*{attendeeName}"></div>
        </div>
        <div class="form-group">
            <label>
                예약 좌석 수:
                <input type="text" th:field="*{seats}" />
            </label>
            <div class="error" th:if="${#fields.hasErrors('seats')}" th:errors="*{seats}"></div>
        </div>
        <div class="form-action">
            <button type="submit" class="submit-btn">예약 수정</button>
        </div>
    </form>
</section>
</body>
</html>
